.MSP-map-container {
  display: flex;
  width: 100%;
  height: calc(90vh - 40px);
  max-height: 100%;
  position: relative;
  overflow: auto;
}

.MSP-sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  background: #ffffff;
  padding: 12px;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
  position: relative;
  z-index: 20;

  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  height: 90%;
  overflow-y: auto;
}

.MSP-sidebar-middle {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.MSP-geocoder-container .mapboxgl-ctrl-geocoder {
  width: 100% !important;
  max-width: 100% !important;

  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #e0e0e0;

  padding: 4px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: start;
}

.MSP-geocoder-container .mapboxgl-ctrl-geocoder input {
  height: 36px;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;

  font-size: 14px;
  color: #333;

  padding-left: 6px;
}

.MSP-geocoder-container .mapboxgl-ctrl-geocoder:hover {
  border-color: #2196f3;
  box-shadow: 0 2px 10px rgba(33, 150, 243, 0.15);
}

.mapboxgl-ctrl-geocoder .suggestions {
  position: absolute !important; /* cho phép nổi lên */
  top: 42px; /* khoảng cách từ input */
  left: 0;
  right: 0;
  z-index: 30; /* cao hơn danh sách marker */
  display: flex;
  flex-direction: column; /* hướng dọc */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  background: #fff;
}

.mapboxgl-ctrl-geocoder .suggestions ul {
  display: flex;
  flex-direction: column; /* hướng dọc */
  margin: 0;
  padding: 0;
  list-style: none;
}
.mapboxgl-ctrl-geocoder .suggestions li {
  padding: 8px 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.mapboxgl-ctrl-geocoder .suggestions li:last-child {
  border-bottom: none;
}

.mapboxgl-ctrl-geocoder .suggestions li:hover {
  background: #f0f7ff;
}

/* Ngăn mapbox style xấu đè lên */
.mapboxgl-ctrl {
  box-shadow: none !important;
}

/* Danh sách marker */
.MSP-marker-item {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 4px solid #2196f3;
  cursor: grab;
}

.MSP-marker-item:active {
  cursor: grabbing;
}

.MSP-marker-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.MSP-marker-content > div {
  display: flex;
}

.MSP-marker-name-input {
  max-width: 70%;
  margin: 0px 0px 0px 10px;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.MSP-marker-content > span {
  margin: 10px 0px;
}

.stt {
  font-weight: bold;
  margin-right: 10px;
}

.MSP-marker-item button {
  padding: 6px 10px;
  background: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80%;
}

.MSP-marker-item button:hover {
  background: #1976d2;
  border: none;
}

/* Nút Lưu */
.MSP-save-button {
  width: 100%;
  padding: 10px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.MSP-save-button:hover {
  background: #45a049;
}

/* Map bên phải */
.MSP-map {
  flex: 1;
  height: 90%;
  max-height: 100%;
}
