/* Reset cơ bản */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html,
#root {
  height: 100%;
  background-color: #ebf2ff;
  color: #222;
}

.route-content {
  flex: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.route-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0;
}

.route-header h1 {
  font-weight: 800;
  font-size: 1.9rem;
  color: #222;
  margin-top: 0;
}

.route-header .btn-add {
  background-color: #4a86ff;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 14px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.route-header .btn-add:hover {
  background-color: #3571d3;
}

.route-search-input {
  width: 300px;
  height: 36px;
  padding: 0 16px;
  font-size: 1rem;
  border-radius: 14px;
  border: 1px solid #ccd6dd;
  outline: none;
}

.route-search-input:focus {
  border-color: #4f93f7;
}

/* Bảng tuyến đường */
.route-table {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.route-table-header {
  height: 50px;
  display: grid;
  grid-template-columns: 60px 0.5fr 1.5fr 0.5fr 0.5fr;
  min-width: 600px;
  font-size: 1rem;
  user-select: none;
  padding: 10px 0px;
  background-color: white;
  font-weight: 700;
  border-bottom: 2px solid #4f93f7;
}
.route-table-header div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.route-table-body {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 0px;
}
.route-table-body-row {
  display: grid;
  grid-template-columns: 60px 0.5fr 1.5fr 0.5fr 0.5fr;
  min-width: 600px;
  font-size: 1rem;
  user-select: none;
  margin: 5px 0px;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.route-table-body-row div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Cột thao tác */
.route-table-body-row .btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.25rem;
  margin-left: 14px;
  color: #333;
  transition: color 0.3s ease;
}

.route-table-body-row .btn-icon:hover {
  color: #4a86ff;
}

/* Phần bản đồ + chi tiết tuyến */
.route-detail-section {
  height: 200px;
  display: flex;
  margin-bottom: 20px;
}

/* Khung bản đồ */
.route-map-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgb(15 30 85 / 0.12);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex: 1;
}

.route-info {
  flex: 1;
  background: white;
  border-radius: 18px;
  box-shadow: 0 6px 18px rgb(15 30 85 / 0.12);
  padding: 26px 26px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  font-weight: 600;
}

.route-info h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.route-info p {
  font-weight: 600;
  font-size: 1.1rem;
  color: #222;
}
