body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f9ff;
}

.schedule-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

/* Header */
.schedule-content-header {
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: #eef6ff;
  height: 70px;
  border-bottom: 1px solid #d9e6fb;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-center {
  flex-grow: 1;
  text-align: center;
}

.schedule-input {
  border: 1px solid #c1c7d0;
  border-radius: 6px;
  padding: 8px 12px;
  font-size: 14px;
  background-color: white;
  outline: none;
  cursor: pointer;
  min-width: 160px;
}

.schedule-input:not(:last-child) {
  margin-right: 10px;
}

.schedule-btn {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  color: white;
  user-select: none;
  transition: background-color 0.3s ease;
}

.schedule-edit-btn,
.schedule-create-btn {
  background-color: #5998ff;
}

.schedule-edit-btn:hover,
.schedule-create-btn:hover {
  background-color: #417ee8;
}

.schedule-table {
  padding: 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(0, 0, 0, 0.1);
}
.schedule-table-header {
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr);
  font-weight: 600;
  background-color: #f3f6ff;
  border-left: none;
  border-bottom: solid 2px#abb615;
  padding: 0;
  margin-right: 15px;
  max-height: auto;
}
.schedule-table-header div {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: solid 1px rgb(0, 0, 0, 0.1);
}

.schedule-table-header > div:first-child {
  grid-column: 2; /* đẩy phần tử đầu sang cột số 2 */
}

/* Table body */
.schedule-table-body {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}

/* Row */
.schedule-row {
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr);
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.1);
}

/* Các ô trong row */
.schedule-row > div {
  border-left: 0.5px solid rgb(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.1);
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

/* Ô đầu tiên trống hoặc tên tuyến */
.schedule-row > div:first-child {
  font-weight: 600;
  background-color: #f3f6ff;
  border-left: none;
}

/* Ô cuối cùng nổi bật */
.schedule-table-cell {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.schedule-table-cell > div {
  border: solid 1px rgb(0, 0, 0, 0.1);
  height: 80%;
  border-radius: 5px;
  background-color: #eee;
  padding: 0;
  margin-top: 10px;
  padding: 5px 2px;
}

.empty {
  background-color: rgb(255, 0, 0, 0.2);
}
