/* Reset & cơ bản */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html,
#root {
  height: 100%;
  background-color: #e8f0fe;
  color: #222;
}

/* Container chính */
.student-content {
  flex: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.student-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
}

.student-search-input {
  width: 280px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  /* box-shadow: 0 2px 12px rgba(15, 30, 85, 0.1); */
  border: 1px solid #ccd6dd;
  background-color: white;
}
.student-search-input:focus {
  border-color: #4f93f7;
}

.student-search-input::placeholder {
  border: #9aa8c0;
}

/* Tiêu đề và nút Thêm */

.student-btn-add {
  background-color: #4a86ff;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.student-btn-add:hover {
  background-color: #3366ff;
}

/* Bảng danh sách học sinh */
.student-table {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.student-table-header {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.5fr;
  min-width: 600px;
  font-size: 1rem;
  user-select: none;
  padding: 14px 18px;
  background-color: white;
  font-weight: 700;
  border-bottom: 2px solid #4f93f7;
}

.student-table-header div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.student-table-body {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 0px;
}

.student-table-row {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.5fr;
  min-width: 600px;
  font-size: 1rem;
  user-select: none;
  margin: 5px 0px;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}

.student-table-row div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  gap: 15px;
  font-size: 1.3rem;
}

.student-btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  color: #222;
  transition: color 0.3s ease;
}

.student-btn-icon:hover {
  color: #4a86ff;
}

/* Phần chi tiết học sinh */
.student-detail {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 7px 25px rgb(30 41 59 / 0.06);
  padding: 24px 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #222;
  height: 30%;
  margin-bottom: 10px;
}

.detail-row {
  display: flex;
  flex: 1 1 100%;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.student-info-gr {
  width: 250px;
}

.detail-row > div {
  flex: 1 1 200px;
}

.label {
  font-weight: 500;
  margin-bottom: 4px;
}

.value b {
  font-weight: 700;
  font-size: 1.15rem;
}
